{% extends "base.html.twig" %}
{% block body %}

    <h2>Registrate</h2>

    {{ dump(app.session.flashbag()) }}

    {% for message in app.session.flashbag().get('mensaje') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <hr/>
    {{ form_start(form) }}

    {# dump(form_row(form.nombre)) #}
    {# dump(form_widget(form.apellidos)) #}

    {{ form_row(form.nombre, {'label':'Nombre de usuario', 'attr':{'class':'form-control', 'placeholder':'Nombre de usuario'}}) }}

    {{ form_row(form.apellidos, {'label':'Apellidos de usuario', 'attr':{'class':'form-control', 'placeholder':'Apellidos de usuario'}}) }}

    {{ form_row(form.email, {'label':'email de usuario', 'attr':{'class':'form-control', 'placeholder':'Email de usuario'}}) }}

    {{ form_row(form.password, {'label':'password', 'attr':{'class':'form-control', 'placeholder':'Password'}}) }}

     {{ form_row(form.guardar, {'label':'Registrar usuario'}) }}

    {{ form_end(form,{'render_rest':false}) }}
  

    <a href="{{ path('homepage') }}">Cancelar</a>

{% endblock %}