{% extends 'base.html.twig' %}
{# Esto es un comentario #}
{% block body %}

	<!-- {{ dump(noticias) }} -->

	<h1>
		Web de Noticias 
		<small>

			{% if is_granted('ROLE_ADMIN') %}
				<strong>Bienvenido admin</strong> - 
				<a href="{{ path('logout') }}">Cerrar sesion</a>
			{% elseif is_granted('ROLE_USER') %}
				<strong>Bienvenido usuario</strong>
				<a href="{{ path('logout') }}">Cerrar sesion</a>
			{% else %}
				<a href="{{ path('homepage_login') }}">Conectarse</a>
				<a href="{{ path('login_registro') }}">Registrarse</a>
			{% endif %}	

		</small>
	</h1>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titulo</th>
				<th>Autor</th>
				<th>Categoria</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
		{% for noticia in noticias %}
			<tr>
			    <td>{{ noticia.id }}</td>
			    <td>{{ noticia.titulo }}</td>
			    <td>{{ noticia.autor }}</td>
			    <td>{{ noticia.idcategoria.nombre }}</td>
			   	<td>
			   		<a href="{{ path('homepage_ver', {'id':noticia.id}) }}">
			   			Ver
			   		</a>
			   		{% if is_granted('ROLE_ADMIN') %}
				   		|
				   		<a href="{{ path('homepage_borrar', {'id':noticia.id}) }}">
				   			Borrar
				   		</a>
				   		|
				   		<a href="{{ path('homepage_modificar', {'id':noticia.id}) }}">
				   			Modificar
				   		</a>
					{% endif %}	
			   	</td>	
		    </tr>
		{% endfor %}
		</tbody>
	</table>

	<hr>
	{# if is_granted('ROLE_ADMIN') #}
	<a href="{{ path('homepage_nueva') }}">Nueva noticia</a>
	{# endif #}

{% endblock %}
